<div class="container">
    <div class="navbar">
        <ul>
            <li class="link-container"><a href="#"></a>Home</li>
            <li class="link-container"><a href="#"></a>Projetos</li>
            <li class="link-container"><a href="#"></a>Oficina</li>
            <li class="link-container"><a href="#"></a>Concluidos</li>
            <li class="link-container"><a href="#"></a>Sobre Mim</li>
        </ul>
    </div>
    <div class="accordion-header">
        <ul>
            <li class="line1 line"></li>
            <li class="line2 line"></li>
            <li class="line3 line"></li>
        </ul>
    </div>  
    <img class="imgFundo"  [src]="src">
</div>