.container{
    display: flex;
}

.imgFundo{
    content: "";
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    height: 100%;
    position: absolute; /*Camada ou seja absolutamente posicionado*/
    z-index: -1;
}

