/* You can add global styles to this file, and also import other style files */

body {
    margin: 0px;
    padding: 0px;
    box-sizing: none;

}

.accordion-header div {
    width: 30px;
    height: 5px;
    background: #ffffff;
    margin: 5px;
    border-radius: 3px;
    border: none;
}
.container {

}